*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   background-color: #0a0a0a;
}
.header{
    height: 80px;
    width: 70%;
    background-color:rgb(16, 17, 16);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: rgb(216, 26, 26);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: rgb(34, 36, 34);
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(25, 26, 25);
    color: white;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #69706d;
    background-image: url(yeat.jpg);
    margin-left: 20px;
    padding: 15px;
    text-align: center;
   
    background-repeat: no-repeat;
    background-position: 5%;
    
}
.head{
    background-color: rgb(24, 23, 21);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(29, 28, 27);
    border-radius: 5px;
    padding: 15px;
background-color: white;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: rgb(125, 156, 138);
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(140, 168, 137);
    padding: 7px 25px;
    cursor: pointer;
    color: rgb(22, 21, 21);
    transition: 0.6s;
}
button:hover{
    background-color:  #ee1f10;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #e64343;
}
nav{
    height: 50px;
    display: flex ;
    align-items: right;
}   
ul{
    list-style: none;
    float:right;
    display: flex;
    margin-top: 0px;
}
ul li a{
text-decoration:none;
color:rgb(241, 238, 232);
padding: 10px 20px;
text-transform: uppercase;
border: 1px solid #fdfafa;
margin: 20px;
font-weight: 500;
transition: 0.6s ease;
}
li :hover{
    background-color: #39664a;
}
.logo {
    color:rgb(196, 193, 183);
    font-family: Jersey 15;
    font-size: x-large;
    font-weight: 100;
    padding: 0px 20px;
    border:1px solid;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: rgba(241, 240, 240, 0.7);


    
}
.logo span{
    color:rgb(146, 39, 39);

    font-weight: bold;

    font-size: 2rem;
}
.social{
    position:fixed;
    height: 100vh ;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    transform: translate(-790px,0);

}
.social a{
    color: #ffff;
    background: rgba(0,0,0,0.5);
    font-size:20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align:right;
    border-radius:50px;
    transition: 0.6s ease;
    
    transition-property: transform ;

}
.social a:hover{
    transform: translate(140px,0px);
   
}

.social i{
    margin-left:10px ;
    font-size: 30px;
    width:30px;
    height: 30px;
}
.social a:nth-child(1) i{
    color:rgb(146, 39, 39);
}
.social a:nth-child(2) i{
    color: rgb(146, 39, 39);
}
.social a:nth-child(3) i{
    color:rgb(146, 39, 39);
}


.social a:nth-child(4) i{
    color:rgb(146, 39, 39);
}
.login-box{
   
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
 
}
.login-header{
    display: flex;
    text-align: center;
    margin: 20px 0 40px 0;
    color: #39664a;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(46, 44, 44, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #bb2828;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}
#id2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}



